<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone's items</title>
</head>
<body>
    <h1>Phone's item list</h1>
    <h4>
        <!-- <a href="/items/{{item.id}}/">-->
        {% for item in items %}
        <!--Используем относительные переменные пути detailItem = myapp/items/-->
        <a href="{% url 'myapp:detailItem' item.id %}">
            <br>ID: {{item.id}} | Имя: {{item.name}} | Описание: {{item.description}} | Цена: {{item.price}}</br>
        </a>

        {% endfor %}
    </h4>
</body>
</html>