<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone's items</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <nav>
        <div>
            <div>
                <div>
                    <div class="flex">
                        <img class="h-8 w-8" src="{% static 'myapp/images/logo_shop.png' %}" alt="shop-logo">
                        <span class="text-xl">Test shop</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <h4>
        <!-- <a href="/items/{{item.id}}/">-->
        {% for item in items %}
        <!--Используем относительные переменные пути detailItem = myapp/items/-->
        <a href="{% url 'myapp:detailItem' item.id %}">
            <br>ID: {{item.id}} | Имя: {{item.name}} | Описание: {{item.description}} | Цена: {{item.price}}</br>
        </a>

        {% endfor %}
    </h4>
</body>
</html>